@inject IAuthService authService

<nav class="flex flex-col space-y-4 text-white">
    <NavLink href="/home" class="flex !text-white items-center px-3 py-2 rounded hover:bg-white/10 transition"
             ActiveClass="bg-white/10 !text-white">
        <i class="bi bi-house mr-2"></i>
        Home
    </NavLink>

    <button @onclick="Logout" class="flex items-center px-3 py-2 rounded hover:bg-white/10 transition cursor-pointer">
        <i class="bi bi-box-arrow-right mr-2"></i>
        Logout
    </button>
    @Message
</nav>


@code {

    public string? Message { get; set; } = "";
    
    private async void Logout()
    {
        var response = await authService.LogoutAsync();

        if (!response.IsSuccess)
        {
            Message = "Não foi possível fazer o logout";
        }

        Message = "Logout com sucesso";
    }
}