@page "/Account/Access-Denied"
@using Layout
@layout MainLayout

@* <TwoSectionsTemplate> *@
@*     <Col12Template> *@
@*         <div class="rounded-lg shadow-md bg-white"> *@
@*             <div class="p-4"> *@
@*                 <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3"> *@
@*                     Sorry, you fo not have access. *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </Col12Template> *@
@*     <FooterTemplate> *@
@*         <Footer /> *@
@*     </FooterTemplate> *@
@* </TwoSectionsTemplate> *@